<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <title>Главная</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__container">
          <a href="#">Стажировка "Selector"</a>
          <a href="https://t.me/uladzimirbel" class="header__link">Версия 1.1</a>
        </div>
      </header>
      <main class="page">
        <section class="send-photo">
          <div class="send-photo__container">
            <form class="form-sending">
              <div class="loader-container">
                <div class="custom-loader"></div>
              </div>
              <div class="block-image">
                <label class="block-image__choose">
                  <input type="file" name="photo_search" accept=".jpg, .png, .webp, .jpeg">
                  <span>Нажмите, чтобы выбрать фотографию у вас на устройстве.</span>
                </label>
                <img class="block-image__image">
              </div>
              <div class="form-sending__controls">
                <label>
                  <span class="form-sending__title">Выберите класс:</span>
                  <select class="form-select" name="class_name">
                    <option value="" class="form-select__button">Выберите класс...</option>
                    <option value="trousers women" class="form-select__button">Trousers Women</option>
                    <option value="sportswear women" class="form-select__button">Sportswear Women</option>
                    <option value="trousers men" class="form-select__button">Trousers Men</option>
                    <option value="shirt women" class="form-select__button">Shirt Women</option>
                    <option value="dress casual" class="form-select__button">Dress Casual</option>
                    <option value="shirt men" class="form-select__button">Shirt Men</option>
                    <option value="sportswear men" class="form-select__button">Sportswear Men</option>
                    <option value="dress business" class="form-select__button">Dress Business</option>
                    <option value="t-shirt women" class="form-select__button">T-Shirt Women</option>
                    <option value="t-shirt men" class="form-select__button">T-Shirt Men</option>
                    <option value="dress homemade" class="form-select__button">Dress Homemade</option>
                    <option value="dress solemn" class="form-select__button">Dress Solemn</option>
                  </select>
                </label>

                <label>
                  <span class="form-sending__title">Выберите цвет:</span>
                  <select class="form-select" name="version_search">
                    <option value="" class="form-select__button">Выберите Цвет...</option>
                    <option value="1" class="form-select__button">1 color</option>
                    <option value="2" class="form-select__button">2 color</option>
                  </select>
                </label>
                <div class="message-error"></div>
                <button class="button" type="submit">Начать подбор</button>
              </div>
            </form>
          </div>
        </section>
        <section class="hidden search-result">
          <div class="search-result__container">
            <h2 class="search-result__title">Результат Вашего поиска по совпадениям</h2>
            <div class="list-images"></div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__container">
          <div class="footer__copy">
            <p>Рекомендательная система выбора одежды в онлайн магазине</p>
            <p>март - май 2023 года</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/app.min.js' %}"></script>
  </body>
</html>
