<!DOCTYPE html>
{% load static %}
{% load image_tags %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/task_styles.css' %}" type="text/css"/>
</head>
<body>
    <header class="header">
        <h1>Заголовок</h1>
    </header>

    <div class="grid-container">
        <div class="grid-container">
        <div class="comparison-photo">
            <img src="{{obj_imag}}" alt="Фото для сравнения" width='200' height='200'>
            <p class="comparison-text">Текст для выделения</p>
        </div>

        {% for item in object_list.list_images %}
            <img src="{{ item|relative_path }}" alt="{{ item.name }}" width='200' height='200'>
        {% endfor %}
    </div>


    </div>

    <footer class="footer">
        <p>Футер</p>
    </footer>
</body>
</html>
